.photo{
    
    width: 100%;
    height: 100%;
    display: flex; /* Для центровки содержимого */
    align-items: center; /* Центровка по вертикали */
    justify-content: center; /* Центровка по горизонтали */
    
}
.container{
    width: 100vw;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
}
.info{
    
    display: flex;
    justify-content: end;
}