.header {
    position: fixed; /* Чтобы хедер всегда был наверху */
    top: 0;
    left: 0;
    width: 100%; /* Хедер занимает всю ширину экрана */
    height: 15%; /* Хедер занимает 20% от высоты окна */
    background-color: #333; /* Темный фон для наглядности */
    color: white; /* Белый текст */
    display: flex; /* Для центровки содержимого */
    align-items: center; /* Центровка по вертикали */
    justify-content: center; /* Центровка по горизонтали */
    z-index: 1000; /* Хедер перекрывает другие элементы */
}
.block{
    width: 33.4%;
    height: 100%;
    display: flex; /* Для центровки содержимого */
    align-items: center; /* Центровка по вертикали */
    justify-content: center; /* Центровка по горизонтали */
}